@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../vendor/fonts/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../vendor/fonts/Quicksand-Medium.ttf') format('truetype');
}
body .back-container {
    max-width: 600px;
    margin: 16px auto;
}
body .back-container a {
    color: #000000;
}
.back {
    max-width: 8px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
body {
    background-color: #FBFBFD;
    font-family: 'Quicksand-Medium', sans-serif;
    color: #FBFBFD;
}
body .main-container {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    background-color: #5659a3;
}
.newsletter-bg {
    padding-bottom: 24px;
    background-image: url("./img/header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.newsletter-bg, .newsletter-bg > .container {
    position: relative;
}
.newsletter-bg > .container {
    z-index: 9999;
}
.newsletter-bg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0,0,0,0.4);
}
header {
    z-index: 999;
    position: relative;
}
header img.img-fluid {
    max-width: 90px;
}
header .padding-left-0 {
    padding-left: 0;
    display: flex;
    align-items: flex-end;
}
header span, header p {
    color: #FBFBFD;
    text-align: right;
    font-family: 'Quicksand-Medium', sans-serif;
    line-height: 8px;
    font-size: 10px;
    margin: 0;
}
header p {
    line-height: 10px;
}
header span {
    margin-top: 4px;
}
header .info {
    text-align: right;
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.heading {
    color: #FBFBFD;
    text-align: center;
    font-family: 'Quicksand-Bold', sans-serif;
    font-size: 40px;
    margin-top: 80px;
    line-height: 39px;
}
.subheading {
    font-style: italic;
}
.row .col-lg-6 {
    margin-bottom: 16px;
}
@media only screen and (max-width: 576px) {
    body .heading {
        font-size: 30px;
    }
}
header, footer {
    background-color: #FBB926;
}
header img.img-fluid {
    max-width: 200px;
}
header span, header p {
    color: #FBFBFD;
    text-align: right;
    font-family: 'Quicksand-Medium', sans-serif;
    line-height: 1;
}
header .info {
    text-align: right;
    padding-top: 8px;
}
.small {
    color: #FBFBFD;
    font-family: 'Quicksand-Medium', sans-serif;
    font-size: 10px;
    text-align: right;
    padding-bottom: 8px;
}
.intro {
    color: #FBFBFD;
    margin-top: 24px;
    margin-bottom: 24px;
}
footer {
    min-height: 32px;
}
.section-img-container {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}
.container.section {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}
.container.section:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #FBB926;
    left: 0;
    top: 0;
}
.course-heading-container {
    text-align: center;
    margin-bottom: 8px;
}
.big-pic {
    margin-bottom: 16px;
}
.section.first-section .col-lg-6 {
    padding-top: 16px;
}
.section .col-lg-6 img {
    height: 100%;
    object-fit: cover;
}
.col-6 .course-description {
    font-style: italic;
}
.first-section {
    margin-top: 16px;
}